# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
# Prompt words in the input box
VITE_DEFAULT_PLACEHOLDER=''
# Message at the bottom of the input box
VITE_DEFAULT_BOTTOM_TIPS=''
#  Whether to return only literal content it means whether front-end parsing is required
VITE_ONLY_TEXT=false
# The maximum number of cached conversations does not include system information
VITE_CACHE_TIMES=100
# BASE_URL
VITE_BASE_URL='/' # BASE_URL
# logo url
VITE_LOGO_URL=''
# info
VITE_INFO=''

# -----------------------------------------------------------------------------
# Supabase
# -----------------------------------------------------------------------------
VITE_SUPABASE_URL=''
VITE_SUPABASE_KEY=''

# -----------------------------------------------------------------------------
# SERVER_URL
# -----------------------------------------------------------------------------
VITE_API_HOST='https://api.aios.chat/v1/chat/completions'
VITE_MIDJOURNEY_API_HOST="https://api.aigcfun.com/api/v1/image"

